    <div class="page-container">
        <div class="form-container">
            <!-- LOGIN FORM -->
            <form id="loginForm" action="/submit" method="POST" class="details-container">
                <input type="text" id="userIdentifier" name="userIdentifier" required placeholder="Username or Email" class="input-modern">
                <input type="password" id="password" name="password" required placeholder="Password" class="input-modern">
                <button type="submit" class="btn btn-primary">LOG IN</button>
            </form>

            <!-- DIVIDER -->
            <div class="divider">
                <hr>
                <span class="divider-text">OR</span>
                <hr>
            </div>

            <!-- REGISTER BUTTON -->
            <button id="registerBtn" type="button" class="btn btn-primary-signup">Create a new account</button>
        </div>
    </div>