<div class="toast align-items-center text-bg-danger border-0 position-fixed top-0 start-50 translate-middle-x mt-3"
     id="errorToast" role="alert" data-bs-delay="2000" data-bs-autohide="true">
  <div class="d-flex">
    <div id="errorToastMessage" class="toast-body">
      Register failed! Please try again.
    </div>
  </div>
</div>