<div class="page-container">
  <div class="form-container">
    <!-- REGISTER / LOGIN FORM -->
    <form id="registerForm" action="/submit" method="POST" class="details-container">

      <!-- EMAIL -->
      <input type="email" id="email" name="email" required placeholder="Email" class="input-modern">

      <!-- USERNAME -->
      <input type="text" id="username" name="username" required placeholder="Username" class="input-modern">

      <!-- PASSWORD -->
      <input type="password" id="password" name="password" required placeholder="Password" class="input-modern">

      <!-- REGISTER BUTTON -->
      <button type="submit" class="btn btn-primary-signup">REGISTER</button>
    </form>
  </div>
</div>