<div class="toast align-items-center text-bg-success border-0 position-fixed top-0 start-50 translate-middle-x mt-3"
     id="successToast" role="alert" data-bs-delay="2000" data-bs-autohide="true">
  <div class="d-flex">
    <div class="toast-body">
      Register Succeeded!
    </div>
  </div>
</div>