<div id="create-post-wrap">
    <h2 class="mb-5">Post Creator - Share Your Thoughts</h4>
    <form id="create-post-form">
  <div class="mb-4">
    <label for="input-post-title" class="form-label">Post Title</label>
    <input type="text" name="title" class="form-control form-control-lg" id="input-post-title" />
  </div>
  <label for="content-input-list" class="form-label">Post Content</label>
  <ul id="content-input-list"></ul>
  <button id="add-content-input-btn" class="btn btn-secondary mb-3">add content</button>
  <br>
  <button id="create-post-submit" class="btn btn-primary">Create Post</button>
</form>
</div>

<script type="module" src="/contentWindow/create-post.js"></script>

