<div class="create-group-wrap">
  <ul class="post-list">
    <li class="post-list-item">
      <div class="form-card">
        <h3 class="form-title">Create a new group</h3>

        <form id="create-group-form" novalidate>
          <!-- Display name -->
          <div class="form-group">
            <label for="displayName" class="form-label">Group Name</label>
            <input id="displayName" name="displayName" type="text" class="text-input" placeholder="My Awesome Group"
              required />
            <p class="help-text">This is what users will see.</p>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="description" class="form-label">Group Description</label>
            <textarea id="description" name="description" rows="3" class="text-area"
              placeholder="What is this group about?"></textarea>
          </div>

          <!-- Admins -->
          <div class="form-group">
            <label for="admins" class="form-label">Admins (usernames)</label>
            <input id="admins" name="admins" type="text" class="text-input" placeholder="alice, bob... (make sure you enter valid usernames with comma seperating)" />
            <p class="help-text">Comma-separated usernames. The creator is added automatically.</p>
          </div>

          <!-- Managers -->
          <div class="form-group">
            <label for="managers" class="form-label">Managers (usernames)</label>
            <input id="managers" name="managers" type="text" class="text-input" placeholder="dana, eli... (make sure you enter valid usernames with comma seperating)" />
          </div>

          <!-- Cover image -->
          <div class="form-group">
            <label for="cover" class="form-label">Cover image (optional)</label>
            <button id="coverPickBtn" type="button" class="btn btn-sm btn-primary mt-2">
              Change Cover
            </button>
            <span id="coverImageHint" class="form-text ms-2">Prefer to use 3:1 ratio image, if not image will be cropped!</span>

            <!-- Hidden file input -->
            <input type="file" id="groupCover" accept="image/png, image/jpeg, image/webp" style="display:none">
          </div>

          <button type="submit" class="primary-btn w-full">Create group</button>
        </form>
      </div>
    </li>
  </ul>
</div>

<script type="module" src="/contentWindow/create-group.js"></script>