<div class="row g-3">
  <!-- LEFT COL: posts using main_page.js -->
  <div class="col-12 col-lg-8">
    <ul id="post-list"
        class="post-list"
        data-group="<%= groupName %>">
    </ul>
  </div>

  <!-- RIGHT COL: group info -->
  <div class="col-12 col-lg-4">
    <!-- will be filled soon -->
  </div>
</div>
