
<% const gList = Array.isArray(locals.groups) ? locals.groups : []; %>


<div id="side-nav" class="col-2">
  <!-- TEMPLATE FOR SIDE_NAV_LIST 18/08/2025 - initial design
             <ul class="side-nav-list">
              <li class="side-nav-list-item">
                <h4 class="side-list-title">
                  pages
                  <i class="bi bi-back"></i>
                </h4>
              </li>
              <li class="side-nav-list-item">
                <button class="side-nav-option">
                  <i class="bi bi-house side-nav-option-icon"></i>
                  <span class="side-nav-option-name">Home</span>
                </button>
              </li>
              <li class="side-nav-list-item">
                <button class="side-nav-option">
                  <i
                    class="bi bi-arrow-up-right-circle side-nav-option-icon"
                  ></i>
                  <span class="side-nav-option-name">Popular</span>
                </button>
              </li>
            </ul>
                -->
  <ul class="side-nav-list">
    <li class="side-nav-list-item">
      <h4 class="side-list-title">
        Pages
        <i class="bi bi-back"></i>
      </h4>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <i class="bi bi-house side-nav-option-icon"></i>
        <span class="side-nav-option-name">Home</span>
      </button>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <i class="bi bi-arrow-up-right-circle side-nav-option-icon"></i>
        <span class="side-nav-option-name">Popular</span>
      </button>
    </li>
  </ul>
  <hr class="side-nav-hr" />
  <ul class="side-nav-list">
    <li class="side-nav-list-item">
      <h4 class="side-list-title">
        Groups
        <i class="bi bi-people"></i>
      </h4>
    </li>
    <% gList.forEach(g => { %>
    <li class="side-nav-list-item">
      <a href="/groups/<%= g.groupName %>" class="side-nav-option d-flex align-items-center gap-2 text-decoration-none">
        <img class="side-nav-option-img" src="/images/team-placeholder.png" alt="group icon" />
        <span class="side-nav-option-name"><%= g.displayName %></span>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
