<div id="side-nav" class="col-2">
  <!-- TEMPLATE FOR SIDE_NAV_LIST 18/08/2025 - initial design
             <ul class="side-nav-list">
              <li class="side-nav-list-item">
                <h4 class="side-list-title">
                  pages
                  <i class="bi bi-back"></i>
                </h4>
              </li>
              <li class="side-nav-list-item">
                <button class="side-nav-option">
                  <i class="bi bi-house side-nav-option-icon"></i>
                  <span class="side-nav-option-name">Home</span>
                </button>
              </li>
              <li class="side-nav-list-item">
                <button class="side-nav-option">
                  <i
                    class="bi bi-arrow-up-right-circle side-nav-option-icon"
                  ></i>
                  <span class="side-nav-option-name">Popular</span>
                </button>
              </li>
            </ul>
                -->
  <ul class="side-nav-list">
    <li class="side-nav-list-item">
      <h4 class="side-list-title">
        Pages
        <i class="bi bi-back"></i>
      </h4>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <i class="bi bi-house side-nav-option-icon"></i>
        <span class="side-nav-option-name">Home</span>
      </button>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <i class="bi bi-arrow-up-right-circle side-nav-option-icon"></i>
        <span class="side-nav-option-name">Popular</span>
      </button>
    </li>
  </ul>
  <hr class="side-nav-hr" />
  <ul class="side-nav-list">
    <li class="side-nav-list-item">
      <h4 class="side-list-title">
        Groups
        <i class="bi bi-people"></i>
      </h4>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <img
          class="side-nav-option-img"
          src=""
          srcset="images/team-placeholder.png"
        />
        <span class="side-nav-option-name">group number 1</span>
      </button>
    </li>
    <li class="side-nav-list-item">
      <button class="side-nav-option">
        <img
          class="side-nav-option-img"
          src=""
          srcset="images/team-placeholder.png"
        />
        <span class="side-nav-option-name">group number number bumber 2</span>
      </button>
    </li>
  </ul>
</div>
